@import "tailwindcss";

@theme {
	--font-primary: serif;

	--color-background: #333d3b; /* Dark Gray for top of gradient */
	--color-primary: #2e2e2e; /* Even Darker Gray for bottom of gradient */
	--color-foreground: #f0f0f0; /* Light Gray-White for cards, panels, etc. */
	--color-accent: #e63946; /* Bold Warm Red for highlights */
	--color-text-primary: #f5f0e6; /* Creamy Beige for readable text */
}

@layer base {
	body {
		@apply text-text-primary font-primary;
	}
}

@layer components {
	.custom-scrollbar::-webkit-scrollbar {
		@apply w-0;
	}
}
