@import "tailwindcss";

@theme {
	--font-primary: Roboto, sans-serif;

	--color-primary: #2c3e50; /* Dark blue-gray for primary elements */
	--color-background: #34495e; /* Medium blue-gray for the background */
	--color-foreground: #e1e7ec; /* Light, friendly blue for foreground elements */
	--color-accent: #3498db; /* Vibrant blue accent for buttons, highlights, etc. */
	--color-text-primary: #f1f5f9; /* Light text color for clear readability */
}

@layer base {
	body {
		@apply text-text-primary font-primary;
	}
}

@layer components {
	.custom-scrollbar::-webkit-scrollbar {
		@apply w-0;
	}
}
