@import "tailwindcss";

@theme {
	--color-primary: #6366f1;
	--color-secondary: #22d3ee;
	--color-background: #0f172a;
	--color-foreground: #1e293b;
	--color-accent: #22d3ee;
	--color-text-primary: #f1f5f9;
}

@layer components {
	.custom-scrollbar::-webkit-scrollbar {
		@apply w-0;
	}
}
